* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    color: #444444;
}

a {
    color: #122038;
    text-decoration: none;
}

#header {
    transition: all 0.5s;
    z-index: 997;
    padding: 15px 0;
    position: fixed;
    background-color: #1d1247;
}

#header .logo img {
    width: 100px;
    height: auto;
    border-radius: 55%;
}

.navbar {
    padding: 0px;
}

.navbar ul {
    margin: 0;
    padding: 0px;
    display: flex;
    list-style: none;
    align-items: center;
}

.navbar li {
    position: relative;
}

.navbar a,
.navbar a:focus {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 10px;
    margin-left: 10px;
    padding: 10px 1px 10px 15px;
    font-size: 18px;
    color: #fff;
    transition: 0.3s;
}

.navbar a:hover,
.navbar .active,
.navbar .active:focus,
.navbar li:hover>a {
    color: #47b2e4;
    border-bottom: 2px solid #47b2e4;
}

.navbar .getstarted,
.navbar .getstarted:focus {
    padding: 8px 20px;
    margin-left: 30px;
    border-radius: 50px;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    border: 2px solid #47b2e4;
}

.navbar .getstarted:hover,
.navbar .getstarted:focus:hover {
    color: #fff;
    background: #209dd8;
}

.navbar .dropdown ul {
    display: block;
    position: absolute;
    left: 14px;
    top: calc(100% + 30px);
    margin: 0;
    padding: 10px 0;
    z-index: 99;
    opacity: 0;
    visibility: hidden;
    background: #233657;
    transition: 0.3s;
    border-radius: 4px;
}

.navbar .dropdown ul li {
    min-width: 200px;
}

.navbar .dropdown ul a {
    padding: 10px 20px;
    font-size: 14px;
    text-transform: none;
    color: #fff;
}

.navbar .dropdown ul a:hover,
.navbar .dropdown ul .active:hover,
.navbar .dropdown ul li:hover>a {
    color: #47b2e4;
    background-color: #324d7a;
    margin: 0;
}

.navbar .dropdown:hover>ul {
    opacity: 1;
    top: 100%;
    visibility: visible;
}

#hero {
    width: 100%;
    height: 80vh;
    background: #1d1247;
}

#hero .container {
    padding-top: 72px;
}

#hero h1 {
    margin: 0 0 10px 0;
    font-size: 48px;
    font-weight: bold;
    color: #fff;
}

#hero h2 {
    color: rgba(255, 255, 255, 0.747);
    margin-bottom: 50px;
    font-size: 24px;
}

#hero .btn-get-started {
    font-family: sans-serif;
    font-size: 18px;
    font-weight: bold;
    display: inline-block;
    padding: 10px 28px 11px 28px;
    border-radius: 50px;
    transition: 0.5s;
    margin: 10px 0 0 0;
    color: #fff;
    background: #5e42da;
}

#hero .btn-get-started:hover {
    background: #209dd8;
}



#about{
    background: linear-gradient(rgba(40, 58, 90, 0.9), rgba(40, 58, 90, 0.9)),
        url("../img/cta-bg.jpg") fixed center center;
    background-size: cover;
    padding: 120px 0;
}

#about .section-title h2 {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 20px;
    font-weight: bold;
    font-size: 48px;
    color: #ffffff;
    border-bottom: 3px dashed #47b2e4;
}
.about .content p{
    color: #fff;
}
.about .content ul {
    list-style: square;
    padding: 0;
}

.about .content ul li {
    margin-left: 35px;
    padding-left: 10px;
    color: #fff;
    position: relative;
}

.about .content ul li+li {
    margin-top: 10px;
}

.about .content p:last-child {
    margin-bottom: 0;
}

.about .content .btn-learn-more {
    font-family: sans-serif;
    font-weight: 500;
    font-size: 18px;
    display: inline-block;
    padding: 12px 32px;
    border-radius: 10px;
    transition: 0.3s;
    color: #47b2e4;
    animation-delay: 0.8s;
    margin-top: 6px;
    border: 2px solid #47b2e4;
}

.about .content .btn-learn-more:hover {
    background: #1d1247;
    border-radius: 10px;
    color: #fff;
    text-decoration: none;
}

#skills {
    background: #f7f5e3;
    padding-bottom: 30px;
    padding-top: 30px;
}
.skills .container .section-title h2 {
    text-align: center;
    margin-bottom: 30px;
    padding: 20px;
    font-weight: bold;
    font-size: 48px;
    color: #1a155f;
    border-bottom: 3px dashed #47b2e4;
}

.skills .content h3 {
    font-weight: 700;
    font-size: 32px;
    color: #1d1247;
    font-family: sans-serif;
}

.skills-content {
    background-color: #f7f5e3;
}

.progress-bar-container {
    background-color: #f7f5e3;
    padding: 5px;
    margin: 5px 0;
}

.progress-bar-container p {
    font-size: 15px;
    margin: 0;
    padding: 0;
    color: #000;
}

.progress-bar {
    background-color: #372f81;
    color: #fff;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    margin-bottom: 5px;
    height: 10px;

    position: relative;
}

.progress-percent {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 12px;
    font-weight: bold;
}

#services .container .section-title h2 {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 20px;
    font-weight: bold;
    font-size: 48px;
    color: #1a155f;
    border-bottom: 3px dashed #47b2e4;
}

#services .container .section-title p {
    font-size: 18px;
    color: #000;
}

.services .icon-box {
    box-shadow: 0px 0 25px 0 rgba(0, 0, 0, 0.1);
    padding: 50px 30px;
    transition: all ease-in-out 0.4s;
    background: #fff;
}

.services .icon-box .icon {
    margin-bottom: 10px;
}

.services .icon-box .icon img {
    width: 130px;
    height: 130px;
    margin-left: 35px;

    transition: 0.3s;
}

.services .icon-box h4 {
    font-weight: 500;
    margin-bottom: 15px;
    font-size: 24px;
}

.services .icon-box h4 a {
    color: #37517e;
    transition: ease-in-out 0.3s;
}

.services .icon-box p {
    line-height: 24px;
    font-size: 14px;
    margin-bottom: 0;
}

.services .icon-box:hover {
    transform: translateY(-10px);
}

.services .icon-box:hover h4 a {
    color: #47b2e4;
}

#cta {
    margin-top: 50px;
    padding-bottom: 50px;
}

.cta {
    background: linear-gradient(rgba(40, 58, 90, 0.9), rgba(40, 58, 90, 0.9)),
        url("../img/cta-bg.jpg") fixed center center;
    background-size: cover;
    padding: 120px 0;
}

.cta h3 {
    color: #fff;
    font-size: 32px;
    font-weight: 700;
}

.cta p {
    color: #fff;
    font-size: 18px;
}

.cta .cta-btn {
    font-family: sans-serif;
    font-weight: 500;
    font-size: 18px;
    display: inline-block;
    padding: 12px 40px;
    border-radius: 50px;
    transition: 0.5s;
    margin: 10px;
    border: 2px solid #fff;
    color: #fff;
}

.cta .cta-btn:hover {
    background: #47b2e4;
    border: 2px solid #47b2e4;
}

#portfolio .container .section-title h2 {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 20px;
    font-weight: bold;
    font-size: 48px;
    color: #1a155f;
    border-bottom: 3px dashed #47b2e4;
}

#portfolio .container .section-title p {
    font-size: 18px;
}

.portfolio {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.project {
    flex-basis: calc(33.33% - 20px);
    margin-bottom: 40px;
    background-color: #fff;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    position: relative;
    overflow: hidden;
}

.project img {
    width: 100%;
    object-fit: cover;
    margin-bottom: 20px;
    transition: transform 0.3s ease;
}

.project:hover img {
    transform: translateY(-20px);
}

.project:before {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity 0.3s ease;
}

.project:hover:before {
    opacity: 1;
}

#team {
    background-color: #f7f1f1;
    padding: 0 0 30px 0;
}

#team .container .section-title h2 {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 20px;
    font-weight: bold;
    font-size: 48px;
    color: #1a155f;
    border-bottom: 3px dashed #47b2e4;
}

.team .member {
    position: relative;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
    padding: 30px;
    border-radius: 5px;
    background: #fff;
    transition: 0.5s;
    height: 100%;
}

.team .member .pic {
    overflow: hidden;
    width: 180px;
    border-radius: 50%;
}

.team .member .pic img {
    transition: ease-in-out 0.3s;
}

.team .member:hover {
    transform: translateY(-10px);
}

.team .member .member-info {
    padding-left: 30px;
}

.team .member h4 {
    font-weight: 700;
    margin-bottom: 5px;
    font-size: 20px;
    color: #37517e;
}

.team .member span {
    display: block;
    font-size: 15px;
    padding-bottom: 10px;
    position: relative;
    font-weight: 500;
}

.team .member span::after {
    content: "";
    position: absolute;
    display: block;
    width: 50px;
    height: 1px;
    background: #cbd6e9;
    bottom: 0;
    left: 0;
}

.team .member p {
    margin: 10px 0 0 0;
    font-size: 14px;
}

.team .member .social {
    margin-top: 25px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.team .member .social a {
    transition: ease-in-out 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    width: 32px;
    height: 32px;
    background: #eff2f8;
}

.team .member .social a img {
    width: 30px;
}

.team .member .social a img:hover {
    background: #ffffff;
    width: 35px;
}

.team .member .social a+a {
    margin-left: 8px;
}
#contact {
    padding: 50px 0;
    background: #f0f5e7;

}
#contact .container .section-title h2 {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 20px;
    font-weight: bold;
    font-size: 48px;
    color: #1a155f;
    border-bottom: 3px dashed #47b2e4;
    
}
.contact .info {
    border-top: 3px solid #47b2e4;
    border-bottom: 3px solid #47b2e4;
    padding: 30px;
    background: #fff;
    width: 100%;
    box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.1);
}

.contact .info img {
    float: left;
    width: 45px;
    height: 45px;
    background: #e7f5fb;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    transition: all 0.3s ease-in-out;
}

.contact .info h4 {
    padding: 0 0 0 60px;
    font-size: 26px;
    font-weight: 600;
    margin-bottom: 5px;
    color: #37517e;
}

.contact .info p {
    padding: 0 0 10px 60px;
    margin-bottom: 20px;
    font-size: 18px;
    color: #6182ba;
}

.contact .info .email p {
    padding-top: 5px;
}

.contact .php-email-form {
    width: 100%;
    border-top: 3px solid #47b2e4;
    border-bottom: 3px solid #47b2e4;
    padding: 30px;
    background: #fff;
    box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.12);
}

.contact .php-email-form .form-group {
    padding-bottom: 8px;
}

.contact .php-email-form .form-group {
    margin-bottom: 20px;
}

.contact .php-email-form label {
    padding-bottom: 8px;
}

.contact .php-email-form input,
.contact .php-email-form textarea {
    border-radius: 0;
    box-shadow: none;
    font-size: 18px;
    border-radius: 4px;
}

.contact .php-email-form input:focus,
.contact .php-email-form textarea:focus {
    border-color: #47b2e4;
}

.contact .php-email-form input {
    height: 44px;
}

.contact .php-email-form textarea {
    padding: 10px 12px;
}

.contact .php-email-form button[type="submit"] {
    background: #03588afb;
    border: 0;
    padding: 12px 34px;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    transition: 0.4s;
    border-radius: 50px;
}

.contact .php-email-form button[type="submit"]:hover {
    background: #3c20d8;
}


#footer .footer-top {
    padding: 60px 0 30px 0;
    background: #343a40;
    color: #e4e3e7;
    font-size: 14px;
}

#footer .footer-top .footer-contact {
    margin-bottom: 30px;
}

#footer .footer-top .footer-contact h3 {
    font-size: 22px;
    margin: 0 0 10px 0;
    padding: 2px 0 2px 0;
    text-transform: uppercase;
    font-weight: 600;
    color: #e4e3e7;
}
#footer .footer-top .footer-contact h3:hover {
    font-size: 26px;
    transition-duration: 0.3s;
}


#footer .footer-top h4 {
    font-size: 18px;
    position: relative;
    padding-bottom: 12px;
    color: #e4e3e7;
}
#footer .footer-top h4:hover {
    font-size: 20px;
    transition-duration: 0.3s;
}

#footer .footer-top .footer-links {
    margin-bottom: 30px;
}

#footer .footer-top .footer-links ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#footer .footer-top .footer-links ul li {
    padding: 10px 0;
    display: flex;
    align-items: center;
}

#footer .footer-top .footer-links ul li:first-child {
    padding-top: 0;
}

#footer .footer-top .footer-links ul a {
    display: inline-block;
    color: #e4e3e7;
    font-size: 14px;
}

#footer .footer-top .footer-links ul a:hover {
    color: #faf9d0;
    font-size: 16px;
    transition-duration: 0.3s;
}

#footer .footer-top .social-links img {
    display: inline-block;

    padding: 4px;
    margin-right: 4px;
    width: 36px;
    height: auto;
    transition: 0.3s;
}

#footer .footer-top .social-links img:hover {
    background: #209dd8;
}
